#loginCentralPane {
    -fx-background-color: #E1E2DC;
}

#username {
    -fx-background-image: url("pictures/icons8-user-50.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 30px;
    -fx-font-size: 20;
}

#password {
    -fx-background-image: url("pictures/icons8-key-64.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 30px;
    -fx-font-size: 20;
}

#PaneWelcome {
    -fx-background-color: #E1E2DC;
}

#add {
    -jfx-button-type: FLAT;
    -fx-text-fill: GREY;
    -fx-font-size: 20px;
    -fx-background-radius: 20px;
}

#Laura, #Petr, #Nina, #loginButton, #newEvent, #contacts, #backButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #F5F4EF;
    -fx-text-fill: BLACK;
    -fx-font-size: 30px;
}

#newEvent, #contacts, #backButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #F5F4EF;
    -fx-text-fill: BLACK;
}

#newCalendarPane {
    -fx-background-color: #5D8CAE;
}

#createButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #84BC9C;
    -fx-text-fill: WHITE;
}

#createButton:hover {
    -jfx-button-type: RAISED;
    -fx-background-color: #2CA58D;
    -fx-text-fill: WHITE;
}

#drop {
    -jfx-button-type: RAISED;
    -fx-background-color: crimson;
    -fx-text-fill: WHITE;
}

#leftGridPaneCalendar {
    -fx-background-color: #5D8CAE;
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday {
    -fx-background-color: #E8E8E8;
}

#topHboxEventDetail {
    -fx-background-color: #5D8CAE;
}

#paneEventDetail {
    -fx-background-color: #E8E8E8;
}

#hboxNewEventTop {
    -fx-background-color: #5D8CAE;
}

#buttonBack, #buttonCreate {
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-text-fill: WHITE;
}