#loginCentralPane {
    -fx-background-color: #E1E2DC;
}

#username {
    -fx-background-image: url("pictures/icons8-user-50.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 30px;
    -fx-font-size: 20;
}

#password {
    -fx-background-image: url("pictures/icons8-key-64.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: 30px;
    -fx-font-size: 20;
}

#PaneWelcome {
    -fx-background-color: #E1E2DC;
}

#add {
    -jfx-button-type: FLAT;
    -fx-text-fill: GREY;
    -fx-font-size: 20px;
    -fx-background-radius: 20px;
}

#Laura, #Petr, #Nina {
    -jfx-button-type: FLAT;
    -fx-background-color: #F5F4EF;
    -fx-text-fill: BLACK;
    -fx-font-size: 30px;
}

#showAll {
    -jfx-button-type: FLAT;
    -fx-text-fill: BLACK;
    -fx-font-size: 20px;
}

#birthdayText, #namedayText {
    -fx-border-color: #2CA58D;
}

#contacts, #backButton, #messenger {
    -jfx-button-type: FLAT;
    -fx-text-fill: BLACK;
    -fx-font-size: 16px;
    -fx-text-aligment: right;
}

#weekForward {
    -fx-background-image: url("pictures/arrow-icon-28.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 55px;
}

#weekBack {
    -fx-background-image: url("pictures/arrow-back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 55px;
}

#contacts {
    -fx-background-image: url("pictures/contacts.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 30px;
}

#backButton {
    -fx-background-image: url("pictures/backarrow.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 30px;
}

#messenger {
    -fx-background-image: url("pictures/messages.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 30px;
}

#newEvent {
    -jfx-button-type: FLAT;
    -fx-text-fill: WHITE;
    -fx-font-size: 16px;
    -fx-background-image: url("pictures/plus.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-size: 30px;
}

#newCalendarPane {
    -fx-background-color: #5D8CAE;
}

#createButton {
    -jfx-button-type: RAISED;
    -fx-background-color: #84BC9C;
    -fx-text-fill: WHITE;
}

#createButton:hover {
    -jfx-button-type: RAISED;
    -fx-background-color: #2CA58D;
    -fx-text-fill: WHITE;
}

#drop {
    -jfx-button-type: RAISED;
    -fx-background-color: crimson;
    -fx-text-fill: WHITE;
}

#leftGridPaneCalendar {
    -fx-background-color: #2CA58D;
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday {
    -fx-background-color: #E8E8E8;
}

#topHboxEventDetail {
    -fx-background-color: #5D8CAE;
}

#paneEventDetail {
    -fx-background-color: #E8E8E8;
}

#hboxNewEventTop {
    -fx-background-color: #5D8CAE;
}

#buttonBack, #buttonSend, #buttonCreate {
    -jfx-button-type: RAISED;
    -fx-background-color: #84BC9C;
    -fx-font-size: 18px;
    -fx-text-fill: WHITE;
}

#hboxNewEventTop {
    -fx-background-color: #2CA58D;
}

#messageTextField {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}